/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.logo {
  min-width: 120px;
}

.charts {
  height: 100vh;
}

.charts__type {
  padding: 12px;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: '';
}

.charts__type--us {
  background-image: url(../images/us.png);
}

.charts__type--germany {
  background-image: url(../images/germ.png);
}

.charts__type--global {
  background-image: url(../images/glob.png);
}

.charts__name {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 2px;
}

.charts__text {
  font-weight: 500;
  color: white;
}

.songs__play {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: #08f;
  position: absolute;
  left: -40px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.songs__apple {
  cursor: pointer;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  right: -74px;
}

.songs__logo-play {
  position: absolute;
  width: 10px;
  fill: white;
  top: 12px;
  left: 14px;
}

.songs__number {
  width: 30px;
  margin-right: 10px;
  font: 16px #242424;
  font-weight: 700;
}

.songs__title {
  font: 16px #242424;
  font-weight: 700;
  line-height: 24px;
  vertical-align: middle;
}

.songs__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.songs__author {
  color: #949494;
  line-height: 24px;
  vertical-align: middle;
}

.songs__author:hover {
  text-decoration: underline;
  cursor: pointer;
}

.songs__info {
  padding-left: 15px;
}

.songs__item {
  width: 100%;
  padding: 15px 15px 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #00000010;
  overflow: hidden;
  position: relative;
}

.songs__item:hover {
  background-color: rgba(238, 238, 238, 0.432);
}

.songs__item:hover .songs__play {
  left: 6px;
}

.songs__item:hover .songs__more {
  right: 30px;
}

.songs__item:hover .songs__apple {
  right: 70px;
}

.songs__item .songs__more {
  position: absolute;
  right: -20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  width: 4px;
  height: 10px;
}

.songs__item .songs__more span {
  width: 4px;
  height: 4px;
  background-color: black;
  position: absolute;
  border-radius: 20px;
  top: 3px;
}

.songs__item .songs__more::before {
  width: 4px;
  height: 4px;
  border-radius: 20px;
  background-color: black;
  content: '';
  position: absolute;
  top: 10px;
}

.songs__item .songs__more::after {
  width: 4px;
  height: 4px;
  border-radius: 20px;
  background-color: black;
  content: '';
  position: absolute;
  bottom: 10px;
}

.songs__picture {
  width: 70px;
  height: 70px;
  background-size: contain;
}

.songs__picture--1 {
  background-image: url("https://images.shazam.com/coverart/t481823877-b1504714759_s400.jpg");
}

.songs__picture--2 {
  background-image: url("https://images.shazam.com/coverart/t503576063-b1499386265_s400.jpg");
}

.songs__picture--3 {
  background-image: url("https://images.shazam.com/coverart/t469862641-b1479678552_s400.jpg");
}

.songs__picture--4 {
  background-image: url("https://images.shazam.com/coverart/t52865487-b1274315362_s400.jpg");
}

.songs__picture--5 {
  background-image: url("https://images.shazam.com/coverart/t466040067-b1475546088_s400.jpg");
}

.songs__picture--6 {
  background-image: url("https://images.shazam.com/coverart/t504029260-b1499112594_s400.jpg");
}

.songs__picture--7 {
  background-image: url("https://images.shazam.com/coverart/t473848807-b1478129158_s400.jpg");
}

.songs__picture--8 {
  background-image: url("https://images.shazam.com/coverart/t504306206-b1501705494_s400.jpg");
}

.songs__picture--9 {
  background-image: url("https://images.shazam.com/coverart/t360553122-b1374219174_s400.jpg");
}

.songs__picture--10 {
  background-image: url("https://images.shazam.com/coverart/t511300055-b1504433300_s400.jpg");
}

.songs__picture--11 {
  background-image: url("https://images.shazam.com/coverart/t509415112-b1506263154_s400.jpg");
}

.songs__picture--12 {
  background-image: url("https://images.shazam.com/coverart/t382821192-b1505607242_s400.jpg");
}

.songs__picture--13 {
  background-image: url("https://images.shazam.com/coverart/t506351917-b1481511875_s400.jpg");
}

.songs__picture--14 {
  background-image: url("https://images.shazam.com/coverart/t510905269-b1503336119_s400.jpg");
}

.header {
  width: 100%;
  height: 70px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  vertical-align: middle;
}

.header .logo--header {
  margin: auto 20px auto 0;
}

.header .logo--header #Fill-13 {
  opacity: 100%;
}

.header .navigation {
  margin-left: 10px;
}

.header .navigation a {
  text-decoration: none;
  color: #242424;
  vertical-align: middle;
  -webkit-transition: .1s;
  transition: .1s;
}

.header .navigation a:hover {
  color: #08f;
  -webkit-transition: .1s;
  transition: .1s;
}

.header .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation__item {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
  padding: 15px 20px;
  text-align: center;
}

.header .search {
  position: relative;
}

.header .search__input {
  border-radius: 30px;
  font-size: 14px;
  outline: 0;
  background-color: #F4F4F4;
  padding: 14px 50px 14px 20px;
  width: 370px;
  color: #08f;
  text-shadow: 0 0 0 #000;
  -webkit-transition: opacity .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
  transition: opacity .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
  transition: opacity .3s ease-in-out,box-shadow .3s ease-in-out;
  transition: opacity .3s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
}

.header .search__input:focus {
  -webkit-box-shadow: 0 0 5px #08f;
          box-shadow: 0 0 5px #08f;
}

.header .search__logo {
  top: 12px;
  right: 20px;
  position: absolute;
  fill: #08f;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.header .filler {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 40px;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title__title {
  margin-left: 20px;
  font-weight: 700;
  font-size: 38px;
}

.main-title__logo {
  width: 60px;
  height: 60px;
  background-color: #08f;
  border-radius: 100px;
  position: relative;
}

.main-title__logo-svg {
  width: 20px;
  fill: white;
  position: absolute;
  top: 18px;
  left: 22px;
}

.footer {
  background-color: #141414;
}
/*# sourceMappingURL=styles.css.map */